
.add-section{
    margin-top: 5px;
    height: 100%;
    box-sizing: border-box;
}
.add-section-left{
    float: left;
     margin-right: 5px;
    height: 100%;
    width: 49.5%;

}
.add-section-right{
    float: right;
    height: 100%;
    width: 49.5%;

}

.add-section-left img, .add-section-right img{
    width: 100%;
    height: 100%;
   
    border-radius: 20px;
}

